/* Base styles for using TailwindCSS within Node-RED
 * This has some styles to undo Node-RED ones and the rest is manually pasted from the tailwindcss
 * preflight:
 * https://github.com/tailwindlabs/tailwindcss/blob/7ec9dc311bfe892d83f625b6db1c38458eeb0d8d/src/css/preflight.css
 */

/* Node-RED doesn't set the font-size on the root element causing the rem units to be out
 * of sync with the default font size. */
:root {
  font-size: var(--red-ui-primary-font-size);
}

/* remove NR width constraints on inputs */
.red-ui-editor .vue-root input,
.red-ui-editor .vue-root select,
.red-ui-editor .vue_root textarea {
  width: auto;
}

/* avoid weird blue box around stuff that is focused */
.red-ui-editor .vue-root :focus {
  outline-style: none;
}

/* ====== normal.css from Master-CSS tweaked for Node-RED ================================== */

/* body { */
.red-ui-editor .vue-root {
  line-height: 1.2;

  -webkit-tap-highlight-color: transparent;

  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  -moz-tab-size: 4;
  tab-size: 4;
}

.red-ui-editor .vue-root b,
.red-ui-editor .vue-root strong {
  font-weight: bolder;
}

.red-ui-editor .vue-root *,
.red-ui-editor .vue-root ::before,
.red-ui-editor .vue-root ::after {
  box-sizing: border-box;
}

.red-ui-editor .vue-root * {
  text-rendering: geometricPrecision;
  border: 0 solid;
}

.red-ui-editor .vue-root body,
.red-ui-editor .vue-root blockquote,
.red-ui-editor .vue-root dl,
.red-ui-editor .vue-root dd,
.red-ui-editor .vue-root h1,
.red-ui-editor .vue-root h2,
.red-ui-editor .vue-root h3,
.red-ui-editor .vue-root h4,
.red-ui-editor .vue-root h5,
.red-ui-editor .vue-root h6,
.red-ui-editor .vue-root hr,
.red-ui-editor .vue-root figure,
.red-ui-editor .vue-root p,
.red-ui-editor .vue-root button,
.red-ui-editor .vue-root optgroup,
.red-ui-editor .vue-root select,
.red-ui-editor .vue-root textarea,
.red-ui-editor .vue-root pre {
  margin: 0;
}

.red-ui-editor .vue-root td,
.red-ui-editor .vue-root legend,
.red-ui-editor .vue-root textarea,
.red-ui-editor .vue-root input,
.red-ui-editor .vue-root fieldset {
  padding: 0;
}

.red-ui-editor .vue-root img,
.red-ui-editor .vue-root svg,
.red-ui-editor .vue-root video,
.red-ui-editor .vue-root canvas,
.red-ui-editor .vue-root audio,
.red-ui-editor .vue-root iframe,
.red-ui-editor .vue-root embed,
.red-ui-editor .vue-root object {
  display: block;
}

.red-ui-editor .vue-root ul,
.red-ui-editor .vue-root ol {
  margin: 0;
  padding: 0;
}

.red-ui-editor .vue-root ul {
  list-style: none;
}

.red-ui-editor .vue-root hr {
  height: 0;
  color: inherit;
  border-top: 0.5px solid #ccc;
}

.red-ui-editor .vue-root small {
  font-size: 80%;
}

.red-ui-editor .vue-root button,
.red-ui-editor .vue-root input,
.red-ui-editor .vue-root optgroup,
.red-ui-editor .vue-root select,
.red-ui-editor .vue-root textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: transparent;
}

.red-ui-editor .vue-root sub,
.red-ui-editor .vue-root sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.red-ui-editor .vue-root sub {
  bottom: -0.25em;
}

.red-ui-editor .vue-root sup {
  top: -0.5em;
}

.red-ui-editor .vue-root a {
  color: inherit;
  text-decoration: none;
}

.red-ui-editor .vue-root abbr[title] {
  text-decoration: underline dotted;
}

.red-ui-editor .vue-root table {
  text-indent: 0;
  border-color: inherit;
}

.red-ui-editor .vue-root button,
.red-ui-editor .vue-root select {
  text-transform: none;
}

.red-ui-editor .vue-root a,
.red-ui-editor .vue-root [type="button"]:not([disabled]),
.red-ui-editor .vue-root [role="button"],
.red-ui-editor .vue-root button:not([disabled]) {
  cursor: pointer;
}

.red-ui-editor .vue-root ::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.red-ui-editor .vue-root :-moz-ui-invalid {
  box-shadow: none;
}

.red-ui-editor .vue-root progress {
  vertical-align: baseline;
}

.red-ui-editor .vue-root ::-webkit-inner-spin-button,
.red-ui-editor .vue-root ::-webkit-outer-spin-button {
  height: auto;
}

.red-ui-editor .vue-root ::-webkit-search-decoration {
  -webkit-appearance: none;
}

.red-ui-editor .vue-root ::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

.red-ui-editor .vue-root summary {
  display: list-item;
}
